Back End/Application/.vs/Application/FileContentIndex/2ec96211-e9a9-49a0-b7db-3775c4f8fc5b.vsidx
Back End/Application/.vs/Application/FileContentIndex/109d9c56-3bb7-4f72-befe-36aa082f55b2.vsidx
Back End/Application/.vs/Application/FileContentIndex/1428a16a-9079-4163-bc30-1775bc610d1f.vsidx
Back End/Application/.vs/Application/FileContentIndex/a9a852f0-2e7e-4e70-9e9d-cce65275c592.vsidx
Back End/Application/.vs/Application/FileContentIndex/a71d096b-cb95-4744-b876-6130459c4705.vsidx
Back End/Application/.vs/Application/DesignTimeBuild/.dtbcache.v2
Back End/Application/.vs/Application/DesignTimeBuild/.dtbcache.v2
Back End/Application/.vs/Application/v17/.suo
Back End/Application/.vs/ProjectEvaluation/application.metadata.v7.bin
Back End/Application/.vs/ProjectEvaluation/application.projects.v7.bin
Back End/Application/Web API/bin/Debug/net7.0/Web API.dll
Back End/Application/Web API/bin/Debug/net7.0/Web API.dll
Back End/Application/Web API/bin/Debug/net7.0/Web API.exe
Back End/Application/Web API/bin/Debug/net7.0/Web API.pdb
Back End/Application/Web API/obj/Debug/net7.0/apphost.exe
Back End/Application/Web API/obj/Debug/net7.0/Web API.AssemblyInfo.cs
Back End/Application/Web API/obj/Debug/net7.0/Web API.AssemblyInfoInputs.cache
Back End/Application/Web API/obj/Debug/net7.0/Web API.csproj.AssemblyReference.cache
Back End/Application/Web API/obj/Debug/net7.0/Web API.csproj.AssemblyReference.cache
Back End/Application/Web API/obj/Debug/net7.0/Web API.csproj.CoreCompileInputs.cache
Back End/Application/Web API/obj/Debug/net7.0/Web API.csproj.FileListAbsolute.txt
Back End/Application/Web API/obj/Debug/net7.0/Web API.dll
Back End/Application/.vs/Application/FileContentIndex/4627a34f-b355-45d5-a69c-84828754d300.vsidx
